<html>
   <head>
   <title>line vital</title>
   </head>
   <body>
    <div><h1><a href="">LINE VITAL</a></h1>
    </div>
    <p>CRÔNICAS DE UMA NAMORADA IRONICA</p>
    <P>HISTÓTIA 1</P>
    <P>Certo dia.... história história história história história história história história história história história história história história história história história história história história história história história história história história história história história história história história história história história história história história história história história história história história história história história história história história</P>
    <h1>NEM SEI</h1>
    <body>
</html>
